.footer {
  background-color: #2f324b;

  padding: 40px 30px 50px;

  font-weight: 500;
  font-size: 12px;
 
  line-height: 1.4;
  color: #fff;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  width: 68px;
  height: 68px;

  margin-right: 20px;
}

.footer__copyright {
  max-width: 130px;
  margin-right: auto;
}

.footer__author {
  color: rgba(255, 255, 255, 0.5);
  margin-right: auto;
}

.footer__bottom {
  display: none;
  background-color: transparent;
}

.footer__author--mobile {
  display: none;
}

.footer__contacts {
}

.footer__phone {
}

.footer__action {
}