:root {
  --color-primary: #15a9cb;
  --color-white: #fff;
  --color-text: #383a4c;
}

.section__inner {
  position: relative;
  z-index: 100;

  padding-top: 70px;
  padding-bottom: 70px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.button {
  height: 48px;
  border-radius: 50px;

  box-shadow: 0 4px 25px 0 rgba(21, 169, 203, 0.3);
  background: var(--color-primary);
  color: var(--color-white);

  text-align: center;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.section__title {
  color: var(--color-text);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
}

.section__title--light {
  color: var(--color-white);
}

.section__subtitle {
  margin: 0 auto;
  
  color: var(--color-text);

  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.section__subtitle--light {
  color: var(--color-white);
}
